<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.AiCharacterMemoryMapper">
    
    <resultMap type="AiCharacterMemory" id="AiCharacterMemoryResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="characterId"    column="character_id"    />
        <result property="memoryType"    column="memory_type"    />
        <result property="memoryKey"    column="memory_key"    />
        <result property="memoryValue"    column="memory_value"    />
        <result property="importanceLevel"    column="importance_level"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectAiCharacterMemoryVo">
        select id, user_id, character_id, memory_type, memory_key, memory_value, importance_level, create_time, update_time, create_by, update_by, del_flag from ai_character_memory
    </sql>

    <select id="selectAiCharacterMemoryList" parameterType="AiCharacterMemory" resultMap="AiCharacterMemoryResult">
        <include refid="selectAiCharacterMemoryVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="characterId != null "> and character_id = #{characterId}</if>
            <if test="memoryType != null  and memoryType != ''"> and memory_type = #{memoryType}</if>
            <if test="memoryKey != null  and memoryKey != ''"> and memory_key = #{memoryKey}</if>
            <if test="memoryValue != null  and memoryValue != ''"> and memory_value = #{memoryValue}</if>
            <if test="importanceLevel != null "> and importance_level = #{importanceLevel}</if>
        </where>
    </select>
    
    <select id="selectAiCharacterMemoryById" parameterType="Long" resultMap="AiCharacterMemoryResult">
        <include refid="selectAiCharacterMemoryVo"/>
        where id = #{id}
    </select>

    <insert id="insertAiCharacterMemory" parameterType="AiCharacterMemory" useGeneratedKeys="true" keyProperty="id">
        insert into ai_character_memory
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="characterId != null">character_id,</if>
            <if test="memoryType != null and memoryType != ''">memory_type,</if>
            <if test="memoryKey != null and memoryKey != ''">memory_key,</if>
            <if test="memoryValue != null and memoryValue != ''">memory_value,</if>
            <if test="importanceLevel != null">importance_level,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="characterId != null">#{characterId},</if>
            <if test="memoryType != null and memoryType != ''">#{memoryType},</if>
            <if test="memoryKey != null and memoryKey != ''">#{memoryKey},</if>
            <if test="memoryValue != null and memoryValue != ''">#{memoryValue},</if>
            <if test="importanceLevel != null">#{importanceLevel},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateAiCharacterMemory" parameterType="AiCharacterMemory">
        update ai_character_memory
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="characterId != null">character_id = #{characterId},</if>
            <if test="memoryType != null and memoryType != ''">memory_type = #{memoryType},</if>
            <if test="memoryKey != null and memoryKey != ''">memory_key = #{memoryKey},</if>
            <if test="memoryValue != null and memoryValue != ''">memory_value = #{memoryValue},</if>
            <if test="importanceLevel != null">importance_level = #{importanceLevel},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAiCharacterMemoryById" parameterType="Long">
        delete from ai_character_memory where id = #{id}
    </delete>

    <delete id="deleteAiCharacterMemoryByIds" parameterType="String">
        delete from ai_character_memory where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>